/* basic alignment settings */
body {
    height: 100%;
}

html {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    color: #4b4b4b;
    font-size: 14px;
}

/* font settings */
p {
  	font-family: Montserrat;
  	font-size: 14px;
  	font-weight: normal;
  	font-stretch: normal;
  	font-style: normal;
	  line-height: normal;
  	letter-spacing: normal;
  	color: #4b4b4b;
}

h2 {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4b4b4b;
    margin-top: 10px;
}

/* header settings */
header {
	  display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 20px;
}

.nav__links {
    list-style-type: none;
    font-family: Montserrat;
  	font-size: 14px;
  	font-weight: normal;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	color: #4b4b4b;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #282828;
}

.header_end li {
    display: inline-block;
    padding: 0 5px;
}

.cart_icon ion-icon {
  padding-right: 5px;
}

.cart_icon a {
  cursor: pointer;
}


/* main section settings */
section {
	  min-height: 75%;
    position: relative;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: rgba(0,0,0,0.50);;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.50);
}

/* background image settings */
section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-image: url(images/body.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    transform: scale(1.2);
}

/* pop-up window settings */
.rectangle {
  background: #FFFFFF;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.25);
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

/* drop down button settings */
.drop_down {
    width: 111px;
    height: 36px;
    background-color: transparent;
    border: 1px solid #ecf0f1;
    border-radius: 5px;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 14px;
    transition: all 0.3s ease 0s;
}

/* button settings*/
.add_to_cart {
    width: 111px;
    height: 36px;
    background-color: transparent;
    border: 1px solid #ecf0f1;
    border-radius: 5px;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 14px;
    transition: all 0.3s ease 0s;
}

.add_to_cart:hover {
    border: 1px solid #6D5D49;
    background-color: #6D5D49;
    color: #ffffff;
}

/* button settings*/
.button2 {
    width: 111px;
    height: 36px;
    background-color: transparent;
    border: 1px solid #ecf0f1;
    border-radius: 5px;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 14px;
    transition: all 0.3s ease 0s;
}

.button2:hover {
    border: 1px solid #6D5D49;
    background-color: #6D5D49;
    color: #ffffff;
}

.buttons {
  display: flex-start;
  justify-content: space-around;
  padding: 10px;
}

.buttons2{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin: 0 10px;
}

/* footer settings */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px
}

footer li {
    display: inline-block;
    padding: 0 5px;
}